coverage.info
bw-output
src/*.d
src/*.gcda
src/*.gcno
src/*.o
src/app
src/cores/*.d
src/cores/*.gcda
src/cores/*.gcno
src/cores/*.so
test/build
test/cores
test/test.log
test/*.gcda
test/*.gcno
test/*.o
test/mocks/*.a
test/mocks/*.gcda
test/mocks/*.gcno
