bw-output
coverage.info
src/app
src/cores/*.d
src/cores/*.gcda
src/cores/*.gcno
src/cores/*.so
src/*.d
src/*.gcda
src/*.gcno
src/*.o
test/build
test/cores
test/*.gcda
test/*.gcno
test/mocks/*.a
test/mocks/*.gcda
test/mocks/*.gcno
test/*.o
test/testing.log
test/test.log
